@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0fdf4;
  --foreground: #171717;
  --primary: #16a34a;
  --primary-foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

